@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <div class="overflow-auto" style="height:600px">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="https://w3.trithucvn.net/wp-content/uploads/2017/12/Nat-Geo-1.jpg" class="img-thumbnail" alt="Smiley face" height="150" width="100%">
                    </div>
                    <div class="col">
                        <img src="https://w3.trithucvn.net/wp-content/uploads/2017/12/Nat-Geo-1.jpg" class="img-thumbnail" alt="Smiley face" height="150" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="https://w3.trithucvn.net/wp-content/uploads/2017/12/Nat-Geo-1.jpg" class="img-thumbnail" alt="Smiley face" height="150" width="100%">
                    </div>
                    <div class="col">
                        <img src="https://w3.trithucvn.net/wp-content/uploads/2017/12/Nat-Geo-1.jpg" class="img-thumbnail" alt="Smiley face" height="150" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="https://w3.trithucvn.net/wp-content/uploads/2017/12/Nat-Geo-1.jpg" class="img-thumbnail" alt="Smiley face" height="150" width="100%">
                    </div>
                    <div class="col">
                        <img src="https://w3.trithucvn.net/wp-content/uploads/2017/12/Nat-Geo-1.jpg" class="img-thumbnail" alt="Smiley face" height="150" width="100%">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="https://w3.trithucvn.net/wp-content/uploads/2017/12/Nat-Geo-1.jpg" class="img-thumbnail" alt="Smiley face" height="150" width="100%">
                    </div>
                    <div class="col">
                        <img src="https://w3.trithucvn.net/wp-content/uploads/2017/12/Nat-Geo-1.jpg" class="img-thumbnail" alt="Smiley face" height="150" width="100%">
                    </div>
                </div>
            </div>
        </div>
        </div>


    <div class="col-md-6">
        <div class="overflow-hidden">
            <div class="row">
                <div class="col">
                    lll
                </div>
                <div class="col">
                    ddd
                </div>
            </div>
        </div>
        </div>
    </div>